Manifest.toml

docs/build/*
docs/src/generated/*
docs/src/paper*

*.gif
*.txt
*.html
*.jpg
*.nc
*.nc4
*.pdf
*.png
*.tar.gz

test/demo_*.jl
test/testcase_creation/*
test/test_*.jl

test/nc_files/gridded/2022/MODIS_LAI_*

json/*