Manifest.toml

docs/build/*
docs/src/generated/*
docs/src/paper*

*.gif
*.txt
*.html
*.jpg
*.pdf
*.png
*.tar.gz
*.nc*
*.json
*.csv

test/demo_*.jl
test/testcase_creation*
test/test_*.jl

testcase_creation*

!/data/*
